/web/bundles/
/web/fonts/*
/web/js/
/web/css/
/web/uploads/*
/web/media/*
/bin/
/vendor/
/composer.phar
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/config/parameters.yml
!.gitkeep
bootstrap.php.cache
phpunit.xml
parameters.yml
*/cache/*
!*/cache/.gitkeep
*/logs/*
!*/logs/.gitkeep
*/bundles/
*/fonts/*
*/js/
*/css/
*/uploads/*
*/media/*