/web/bundles/
/web/fonts/*
/web/js/
/web/css/
/web/uploads/*
/web/media/*
/bin/
/vendor/
/composer.phar
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
parameters.yml
