.serif() {
    font-family: 'Lora', 'Times New Roman', serif;
}

.sans-serif () {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.img-centered {
    margin: 0 auto;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.bg-gray-lighter {
    background-color: @gray-lighter;
}

// Global Section Styles

section {
    padding: 40px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
    p > a {
        text-decoration: none;
    }
}

@media(min-width:768px) {
    section {
        padding: 60px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: @brand-primary;
}

::selection {
    text-shadow: none;
    background: @brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: @brand-primary;
}

// Member Section

.member-caption{
    height: 92px;
    font-family: @font-family-base;
    overflow: hidden;
    h3 {
        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 700;
        min-height: 34px;
        margin-bottom: 10px;
    }
    p {
        font-size: 12px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-top: 0;
        min-height: 18px;
        margin-bottom: 10px;
    }
}

// Notice Section

.notice-preview {
    .sans-serif;
    position: relative;
    font-size: 20px;
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    .notice-title {
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        margin-top: 0;
        text-align: justify;
    }
    .notice-createdat{
        font-weight: 800;
        font-size: 12px;
        line-height: 30px;
        color: @gray-light;
    }
    .notice-content{
        .serif;
        font-size: 16px;
        position: relative;
        overflow: hidden;
        text-align: justify;
    }
    &::after{
        position: absolute;
        bottom: 0;
        display: block;
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to top,
            rgba(255,255,255, 1) 0%,
            rgba(255,255,255, 0) 40%
        );
        pointer-events: none; /* so the text is still selectable */
    }
}
.onotice-title{
    .sans-serif;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
}
.report-preview {
    .sans-serif;
    overflow: hidden;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin-bottom: 20px;
    position: relative;
}
.report-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
}

.uniadmin-logo {
    padding: 5px 25px;
}

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;
