{% block team %}
    <section id="team" class="bg-gray-lighter">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="section-heading">Equipo</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4">
                    <div class="team-member">
                        <img class="img-circle img-responsive" alt="..." src="{{ asset('uploads/member/jonathan.jpg') | imagine_filter('page_team') }}">
                        <h4>Jonathan Hidalgo</h4>
                        <p>Director Ejectivo</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="team-member">
                        <img class="img-circle img-responsive" alt="..." src="{{ asset('uploads/member/ivan.jpg') | imagine_filter('page_team') }}">
                        <h4>Iván Guajardo</h4>
                        <p>Director de Operaciones</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="team-member">
                        <img class="img-circle img-responsive" alt="..." src="{{ asset('uploads/member/scar.jpg') | imagine_filter('page_team') }}">
                        <h4>Scarlet Vergara</h4>
                        <p>Directora de Finanzas y Recursos Humanos</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}