{% block account -%}
    <section id="account" style="word-wrap:break-word; word-break:break-word;">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="section-heading">Datos de Transferencia</h2>
                </div>
                <p>Agradecemos pagar vía transferencia a la cuenta corriente del Banco de Chile N° 1030096810 a nombre de "Comunidad Edificio Mallén" RUT: 56.065.290-9, enviando comprobante al e-mail <strong>gastoscomunes@condominiomallen.cl</strong></p>
                <p><strong>No olvide indicar el número de su departamento en el comprobante o en el e-mail.</strong></p>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3 text-left"><span class="fa fa-bank fa-2x"></span></div>
                                <div class="col-xs-9 text-right"><div class="huge"><strong>Banco de Chile Cuenta Corriente 1030096810</strong></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3 text-left"><span class="fa fa-users fa-2x"></span></div>
                                <div class="col-xs-9 text-right"><div class="huge"><strong>Comunidad Edificio Mallén 56.065.290-9</strong></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3 text-left"><span class="fa fa-envelope fa-2x"></span></div>
                                <div class="col-xs-9 text-right"><div class="huge"><strong>gastoscomunes@condominiomallen.cl</strong></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}